<div class="container">
    <div class="container-fluid d-flex">
        <ngb-datepicker #dp [(ngModel)]="selectedDate" class="mx-auto" (dateSelect)="handleDate()"></ngb-datepicker>
    </div>
<div class="jumbotron">
    <h1 class="display-3">{{apod.title}}</h1>
    <p class="lead">{{apod.date}}</p>
    <div class="container-fluid d-flex">
        <img [src]="apod.url" alt="" class="mx-auto">
    </div>
    <hr class="my-2">
    <p>{{apod.explanation}}</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" [href]="apod.hdurl" role="button">HD Image</a>
    </p>
</div>    
</div>