.calculator__output {
    background: hsl(255, 100%, 100%);
    font-size: 4.2rem;
    padding-block-start: 3rem;
    padding-block-end: 0.5rem;
    padding-inline-end: 1.25rem;
    text-align: end;
  }