<div class="calculator">
    <div class="calculator__output">{{display}}</div>
    <div class="calculator__keys">
      <button (click)="handleClick('+')" class="calculator__key calculator__key--operator">+</button>
      <button (click)="handleClick('-')" class="calculator__key calculator__key--operator">-</button>
      <button (click)="handleClick('*')" class="calculator__key calculator__key--operator">&times;</button>
      <button (click)="handleClick('/')" class="calculator__key calculator__key--operator">÷</button>
      <button (click)="handleClick(7)" class="calculator__key">7</button>
      <button (click)="handleClick(8)" class="calculator__key">8</button>
      <button (click)="handleClick(9)" class="calculator__key">9</button>
      <button (click)="handleClick(4)" class="calculator__key">4</button>
      <button (click)="handleClick(5)" class="calculator__key">5</button>
      <button (click)="handleClick(6)" class="calculator__key">6</button>
      <button (click)="handleClick(1)" class="calculator__key">1</button>
      <button (click)="handleClick(2)" class="calculator__key">2</button>
      <button (click)="handleClick(3)" class="calculator__key">3</button>
      <button (click)="handleClick(0)" class="calculator__key">0</button>
      <button (click)="handleClick('.')" class="calculator__key">.</button>
      <button (click)="handleClick('del')" class="calculator__key">AC</button>
      <button (click)="handleClick('=')" class="calculator__key calculator__key--enter">=</button>
    </div>
  </div>