<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">Angular Samples</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item"><a class="nav-link" routerLink="/calculator" routerLinkActive="active">Calculator</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/heroes" routerLinkActive="active">Heroes</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/apod" routerLinkActive="active">Apod</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/beers" routerLinkActive="active">Beers</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/forms" routerLinkActive="active">Forms</a></li>
    </ul>

  </div>
</nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>